@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #020617;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



li {
  color: #9CA3AF;
}

li:hover {
  color: white;
}

span {
  color: #EAB308;
}

.contactInfo {
  color: white;
}

input,
textarea {
  background-color: #1F2937;
  padding: 15px;
}

input::placeholder,
textarea::placeholder {
  color: white;
}

ul {
  gap: 75px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

@media (max-width: 1280px) {
  ul {
    gap: 50px;
    font-size: 16px;
  }
}

@media (max-width: 930px) {
  ul {
    gap: 40px;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  ul {
    gap: 20px;
    font-size: 12px;
  }
}

@media (max-width: 615px) {
  ul {
    gap: 10px;
    font-size: 10px;
  }
}

@media (max-width: 425px) {
  ul {
    gap: 5px;
    font-size: 9px;
  }
}

@media (max-width: 375px) {
  ul {
    gap: 5px;
    font-size: 8px;
  }
}

.navLogo {
  font-size: 40px;
}

@media (max-width: 768px) {
  .navLogo {
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  .navLogo {
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .navLogo {
    font-size: 12px;
  }
}

.heroPara {
  font-size: 20px;
  line-height: 27px;
  margin-right: 50px;
}

@media (max-width: 1024px) {
  .heroPara {
    font-size: 15px;
    line-height: 20px;
    margin-right: 50px;
  }
}

@media (max-width: 425px) {
  .heroPara {
    font-size: 10px;
    line-height: 10px;
    margin-right: 50px;
  }
}

.heroDiv {
  padding: 96px 165px;
}

@media (max-width: 1024px) {
  .heroDiv {
    padding: 96px 50px;
  }
}

@media (max-width: 768px) {
  .heroDiv {
    padding: 50px 50px;
  }
}

@media (max-width: 425px) {
  .heroDiv {
    padding: 30px 30px;
  }
}

/* .heroImage { */
/* width: 427px;
  height: 427px; */
/* } */

@media (max-width: 1024px) {
  .heroImage {
    height: 385px;
  }
}

@media (max-width: 425px) {
  .heroImage {
    width: 300px;
    height: 265px;
  }
}

@media (max-width: 375px) {
  .heroImage {
    width: 300px;
    height: 225px;
  }
}

.heroName {
  font-size: 42px;
}

@media (max-width: 425px) {
  .heroName {
    font-size: 25px;
  }
}

@media (max-width: 375px) {
  .heroName {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .heroName {
    font-size: 15px;
  }
}

.heroText {
  gap: 24px;
}

@media (max-width: 425px) {
  .heroText {
    gap: 12px;
  }
}

.ContactButton {
  width: 145px;
  padding: 8px 20px;
}

@media (max-width: 425px) {
  .ContactButton {
    padding: 5px;
    width: 70px;
    font-size: 10px;
  }
}

.HelloText {
  font-size: 20px;
}

@media (max-width: 375px) {
  .HelloText {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .HelloText {
    font-size: 15px;
  }
}

.CardsContainer {
  flex-direction: row;
}

@media (max-width: 1024px) {
  .CardsContainer {
    flex-direction: row;
  }
}

.EducationDiv {
  padding: 96px 165px;
}

@media (max-width: 1024px) {
  .EducationDiv {
    padding: 70px 25px;
  }
}

@media (max-width: 425px) {
  .EducationDiv {
    padding: 70px 60px;
  }
}

@media (max-width: 375px) {
  .EducationDiv {
    padding: 40px 30px;
  }
}

.CardDiv {
  width: 350px;
  height: 500px;
}

@media (max-width: 1024px) {
  .CardDiv {
    width: 300px;
    height: 500px;
  }
}

.contactDiv {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}

@media (max-width: 1024px) {
  .contactDiv {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 50px;
  }
}

.ContactInputs {
  justify-content: space-evenly;
  padding: 15px;
}

@media (max-width: 1024px) {
  .ContactInputs {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
  }
}

.nameInput {
  width: 100%;
}

@media (max-width: 425px) {
  .nameInput {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .nameInput {
    width: 100%;
  }
}

.contactContainer {
  padding: 50px 100px;
}

textarea {
  width: 540px;
  height: 166px;
}

@media (max-width: 425px) {
  textarea {
    width: 340px;
    height: 166px;
  }
}

@media (max-width: 320px) {
  textarea {
    width: 300px;
    height: 166px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.rectangle {
  width: 415px;
  height: 510px;
  position: relative;
}

@media (max-width: 1024px) {
  .rectangle {
    height: 475px;
  }
}

@media (max-width: 768px) {
  .rectangle {
    width: 400px;
    height: 465px;
  }
}

@media (max-width: 425px) {
  .rectangle {
    width: 330px;
    height: 375px;
  }
}

.rectangle-image {
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .rectangle-image {
    height: 70%;
  }
}

@media (max-width: 768px) {
  .rectangle-image {
    width: 70%;
    height: 70%;
  }
}

.profile-image {
  border-radius: 24px;
  position: relative;
  margin-top: -555px;
  margin-left: 30px;
  width: 427px;
  height: auto;
}

@media (max-width: 1024px) {
  .profile-image {
    margin-top: -385px;
  }
}

@media (max-width: 768px) {
  .profile-image {
    width: 280px;
  }
}

@media (max-width: 425px) {
  .profile-image {
    width: 230px;
    margin-top: -315px;
  }
}

.aboutParagraph {
  font-size: 20px;
  line-height: 27px;
}

@media (max-width: 1024px) {
  .aboutParagraph {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .aboutParagraph {
    font-size: 13px;
    line-height: 13px;
  }
}

.aboutContainer {
  flex-direction: row;
  gap: 100px;
}

@media (max-width: 768px) {
  .aboutContainer {
    flex-direction: column;
    gap: 0;
  }
}

.textAlignDiv {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  width: 466px;
}

@media (max-width: 768px) {
  .textAlignDiv {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .textAlignDiv {
    width: 280px;
  }
}